@import "tailwindcss";

body{
    background-image: url('../src/assets/college_bg.jpeg');
    background-size: cover;
    background-position: center;
}
/* index.css or global.css */
html {
  scroll-behavior: smooth;
}
